<h1>Hunt details:</h1>
<ul>
  <li>Name: <%= @hunt.name %></li> 
  <li>Level: <%= @hunt.name %></li>   
  <li>City: <%= @hunt.city %></li> 
  <li>Description: <%= @hunt.description %></li> 
  <li>Target time: <%= @hunt.target_time %></li> 
</ul>

<a href="/hunts">Back</a>