  <body id="top">

    <!-- begin:header -->
    <div id="header" class="heading" style="background-image: url(img/img01.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-sm-12">
            <div class="page-title">
              <h2>Category : <span>All</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end:header -->

    <!-- begin:content -->
    <div id="content">
      <div class="container">
        <div class="row">
          <!-- begin:article -->
          <div class="col-md-9 col-md-push-3">


            <!-- begin:product -->
            <div class="row container-realestate">
              <% @hunts.order('created_at DESC').each do |hunt| %>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="property-container">
                    <div class="property-image">
                    <img src="https://www.paladinregistry.com/assets/icon-map-d9027152ea7aa05701d604aba74ef622.png">
                      <div class="property-price">
                        <h4><%= hunt.city %></h4>
                        <span><%= hunt.locations.count * hunt.level * 10 %> <span class="logo_r">Au</span>
                      </div>
                    </div>
                    <div class="property-features">
                      <!-- <span><i class="fa fa-plane"></i> 5 KM</span> -->
                      <span><i class="fa fa-map-marker"></i> <%= hunt.locations.count %> locations</span>
                      <span><i class="fa fa-trophy"></i> <%= level_to_difficulty(hunt.level) %></span>
                    </div>
                    <div class="property-content">
                      <h3><a href="/hunts/<%= hunt.id %>"><%= hunt.name %></a> <small><%= hunt.description %></small></h3> 
                    </div>  
                  </div>
                </div> 
              <% end %>

            </div>
            <!-- end:product -->

            <!-- begin:pagination -->
            <div class="row">
              <div class="col-md-12">
                <ul class="pagination">
                  <li class="disabled"><a href="#">&laquo;</a></li>
                  <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
              </div>
            </div>
            <!-- end:pagination -->
          </div>
          <!-- end:article -->

          <!-- begin:sidebar -->
          <div class="col-md-3 col-md-pull-9 sidebar">
            <div class="widget widget-white">
              <div class="widget-header">
                <h3>Advance Search</h3>
              </div>    
              <form role="form" class="advance-search">
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary">
                    <input type="radio" name="options" id="option1"> Community
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="options" id="option2"> Sponsored
                  </label>
                </div>
                <div class="form-group">
                  <label for="location">Difficulty</label>
                  <select class="form-control">
                    <option>Easy</option>
                    <option>Medium</option>
                    <option>Hard</option>
                    <option>Impossible</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="type">Estimated Time</label>
                  <select class="form-control">
                    <option> Less Than 1 HR</option>
                    <option>1-2 HR</option>
                    <option>3-4 HR</option>
                    <option>4-8 HR</option>
                    <option>24+ HR</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="beds">Distance</label>
                  <select class="form-control">
                    <option>Less Than 2 KM</option>
                    <option>3-5 KM</option>
                    <option>6-8 KM</option>
                    <option>9-12 KM</option>
                    <option>13+ KM</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="baths">Gold</label>
                  <select class="form-control">
                    <option>Less Than 100 Au</option>
                    <option>200-400 Au</option>
                    <option>401-600 Au</option>
                    <option>601-800 Au</option>
                    <option>801-100+ Au</option>
                  </select>
                </div>
                
                <div class="form-group">
                  <label for="min-area">Starts Near</label>
                  <input type="text" class="form-control" placeholder="Enter a starting location">
                </div>
                <input type="submit" name="submit" value="Search" class="btn btn-primary btn-block">
              </form>
            </div>
            <!-- break -->
            <div class="widget widget-sidebar widget-white">
              <div class="widget-header">
                <h3>Most Popular Prospectors</h3>
              </div>    
              <ul class="list-check">
                <li><a href="#">BIGBOI202</a>&nbsp;(18 Hunts)</li>
                <li><a href="#">FreshSlice</a>&nbsp;(43 Hunts)</li>
                <li><a href="#">GoldDigger1</a>&nbsp;(31 Hunts)</li>
                <li><a href="#">BobDD</a>&nbsp;(52 Hunts)</li>
                <li><a href="#">Anonymous112</a>&nbsp;(8 Hunts)</li>
                <li><a href="#">CobraZ707</a>&nbsp;(11 Hunts)</li>
              </ul>
            </div>
            <!-- break -->
          </div>
          <!-- end:sidebar -->
          
        </div>
      </div>
    </div>
    <!-- end:content -->

    <!-- begin:partner -->
<!--    <div id="partner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading-title bg-white">
              <h2>Sponsored Hunts</h2>
            </div>
          </div>
        </div> -->
        <!-- break -->

      <!--   <div class="row">
          <div class="col-md-12">
            <div class="jcarousel-wrapper">
              <div class="jcarousel">
                <ul>
                  <li><a href="#"><img src="img/img02.jpg" alt="partner of arillo responsive real estate theme"></a></li>
                  <li><a href="#"><img src="img/img02.jpg" alt="partner of arillo responsive real estate theme"></a></li>
                  <li><a href="#"><img src="img/img03.jpg" alt="partner of arillo responsive real estate theme"></a></li>
                  <li><a href="#"><img src="img/img04.jpg" alt="partner of arillo responsive real estate theme"></a></li>
                  <li><a href="#"><img src="img/img05.jpg" alt="partner of arillo responsive real estate theme"></a></li>
                  <li><a href="#"><img src="img/img03.jpg" alt="partner of arillo responsive real estate theme"></a></li>
                </ul>
              </div>
              <a href="#" class="jcarousel-control-prev"><i class="fa fa-angle-left"></i></a>
              <a href="#" class="jcarousel-control-next"><i class="fa fa-angle-right"></i></a> -->
              <!-- <p class="jcarousel-pagination"></p> -->
          <!--   </div>
          </div>




        </div>
      </div>
    </div> -->
    <!-- end:partner -->

   